
.hide-media{
    display:none;


}


.show-media{
    display: flex;
    flex-direction: column;
    display: block;
    position: fixed;
    top:0;
    background-image: url("../images/bck.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: $main-bck-color;
    video{
        width:60%;
        margin:2% auto;
        border: 10px solid $blue;
    }
   
}




