
.hide-media{
    display:none;

    video{
        width:50%;
        height: auto;
        margin:2% auto;
    }
   
}


.show-media{
    display: block;
    position: fixed;
    top:0;
    background-color: $main-bck-color;
    width: 100%;
}