#music-card{
    width: 100%;
    height: auto;
    .show-media{
        width: 90%;
        margin: 2% auto;
        img {
            border-radius: 50%;
            width: 30%;
            margin: 1%;
          }
    }
}



.rotate {
    animation: rotation 20s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  